.container {
  background-color: black;
  height: 78px;
  /* padding: 0px 5%; */
  position: sticky;
  /* padding-top: 1%; */
}

.container > div {
  display: flex;
  color: white;
  font-family: Open-sans, Roboto;
  width: 69%;
  height: 100%;
  margin: auto;
  /* border: 1px solid red; */
}

.container > div > img {
  margin-right: 20%;
}

.linkDiv {
  font-size: 11px;
}

.navlink > div {
  /* background-color: brown;
  border:1px solid white; */
  height: 100%;
  width: 100%;
  margin-right: 5%;
  padding: 20px 24px 20px 20px;
}


.navlink > div:hover {
  background-color: rgb(52, 53, 53);
   border-bottom: 4px solid rgb(248, 60, 14);
color:white;
  }
/* 
  .active{
    border: 1px solid white;
    
  } */
.linkLogo {
  margin-top: 2px;
  margin-bottom: 10%;
  margin-left: 15%;
  height: 20px;
}

.linkDiv > div {
  width: 37%;
  border: 1px solid white;
}
.menuBtn {
  background-color: black;
}
.crickLogo {
  margin-top: 1.5%;
  height: 50px;
}

.menuBar > img {
  height: 20px;
  margin-top: 38%;
  margin-left: 18%;
}